// inverted color sections

.mentions,
.criteria,
.support {
   color: $white;
   background-color: $black;
}

.masthead,
.exchange,
{
  overflow: hidden;
}

.masthead,
.advantages,
.exchange,
{
  .row
  {
    @media(min-width: $md-breakpoint)
    {
      margin-top: 120px;
      margin-bottom: 0px;
    }

    @media(min-width: $lg-breakpoint)
    {
      margin-top: 190px;
      margin-bottom: 80px;
    }

    @media(min-width: $xl-breakpoint)
    {
      margin-bottom: 180px;
    }
  }
}

.masthead .column:nth-of-type(1),
.masthead .reverse .column:nth-of-type(2) {
  width: 40%;
}

.masthead .column:nth-of-type(2),
.masthead .reverse .column:nth-of-type(1) {
  width: 60%;
}

.graphics
{
  height: 400px;

  @media(max-width: $sm-breakpoint)
  {
    height: 300px;
  }
}

.graphics:after
{
  content: " ";
  display: block;
  position: absolute;
  z-index: -1;
}

.masthead .graphics img
{
  display: none;
}

.page-index .masthead .graphics:after
{
  background: url("/img/svg/home-masthead.svg") no-repeat transparent;
  height: 110%;
  width: 100%;
  right: 0;
  top: 0;
  background-position: top 100% left 20%;
  background-size: auto 140%;

  @media(min-width: $md-breakpoint)
  {
    height: 220%;
    width: 220%;
    right: -100%;
    top: -370px;
    background-position: top 100% left 0px;
    background-size: auto 80%;
  }

  @media(min-width: $lg-breakpoint)
  {
    height: 270%;
    top: -430px;
    background-size: auto 100%;
  }

  @media(min-width: $xl-breakpoint)
  {
    width: 260%;
    right: -130%;
    top: -240px;
    background-position: top 120% left 20%;
    background-size: auto 130%;
  }
}

.page-about .masthead .graphics:after
{
  background: url("/img/svg/about-masthead.svg") no-repeat transparent;
  height: 120%;
  width: 100%;
  right: -4%;
  top: -40px;
  background-position: top 0 left 0%;
  background-size: auto 100%;

  @media(min-width: $md-breakpoint)
  {
    height: 140%;
    top: -120px;
  }

  @media(min-width: $lg-breakpoint)
  {
    height: 180%;
    width: 120%;
    top: -210px;
    right: -18%;
  }

  @media(min-width: $xl-breakpoint)
  {
    height: 220%;
    width: 150%;
    top: -270px;
    right: -42%;
  }
}

.page-standard .masthead .graphics:after
{
  background: url("/img/svg/standard-masthead.svg") no-repeat transparent;

  height: 100%;
  width: 220%;
  left: -270px;
  top: 40px;
  background-position: top 100% left 0;
  background-size: auto 100%;

  @media(min-width: $md-breakpoint)
  {
    height: 110%;
    background-position: top right;
    left: -120%;
  }

  @media(min-width: $lg-breakpoint)
  {
    height: 130%;
  }

  @media(min-width: $xl-breakpoint)
  {
    height: 170%;
  }
}

.exchange .graphics:after
{
  background: url("/img/svg/water-illustration.svg") no-repeat transparent;
  width: 100%;
  height: 250%;
  left: 0;
  top: 0;
  background-size: auto 100%;
  background-position: 110%;

  @media(min-width: $md-breakpoint)
  {
    width: 260%;
    height: 160%;
    left: -160%;
    top: -10%;
    background-size: auto 180%;
    background-position: right 10%;
  }
}

.mentions
{
  text-align: center;
  font-size: $font-size-lg;
  padding: $md;

  p
  {
    white-space: nowrap;
  }

  .small
  {
    display: none;
  }

  @media(min-width: $md-breakpoint)
  {
    .media-list
    {
      display: table;
      vertical-align: middle;
    }
  }

  .media-list ul
  {
    margin: 0;

    li
    {
      position: relative;

      &::before
      {
        display: none;
      }

      a:hover
      {
        img
        {
          opacity: .4;
        }

        &:after
        {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          height: 1em;
          width: 1em;
          padding: 1em;
          margin-left: -1em;
          margin-top: -1em;
          border-radius: 50%;
          background-color: $black;
          background-image: url(../img/svg/external-icon.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 1em;
        }
      }
    }
  }

  @media(max-width: $md-breakpoint - 1)
  {
    img
    {
      max-width: 60%;
      max-height: 70px;
    }
  }

  @media(max-width: $md-breakpoint)
  {
    .media-list li
    {
      padding: $sm 0;
    }
    p
    {
      margin: 0;
    }
    small
    {
      display: inline;
    }
  }

  @media(min-width: $md-breakpoint)
  {
    padding: $md;
    font-size: $font-size-xl;
    .media-list header,
    .media-list ul
    {
      display: table-cell;
      vertical-align: middle;
      li
      {
        padding: $xs;
        display: table-cell;
        vertical-align: middle;
        img
        {
          width: 100%;
        }
      }
    }
  }

  @media(min-width: $lg-breakpoint)
  {
    .media-list ul li
    {
      padding: 0 $md;
    }
  }
}

.advantages
{
  p
  {
    font-size: $font-size-xxl;
    color: $gray-alt;

    @media(max-width: $md-breakpoint)
    {
      font-size: $font-size-xl + 4;
    }
  }

  .percent
  {
    display: block;
    width: 120px;
    height: 120px;
    margin: $md auto;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    &.adv-47
    {
      background-image: url("/img/svg/adv_47.svg");
    }

    &.adv-54
    {
      background-image: url("/img/svg/adv_54.svg");
    }
  }
}

.timeline
{
  dl
  {
    width: 70%;
    margin: 0 auto;
  }

  dt,
  dd
  {
    float: left;
  }

  dt
  {
    width: 16%;
    font-size: $md + $xs;
    line-height: 50px;
  }

  dd
  {
    width: 75%;
    margin: 0;
    padding: 0 0 $md $md;
    position: relative;
    border-left: 5px solid $black;

    &:last-child
    {
      border-color: transparent;
    }

    &:after
    {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -$sm/2 - 2;
      height: $sm;
      width: $sm;
      background: $green;
      border-radius: 50%;
    }
  }
}

.support
{
  background-image: url("/img/svg/support-bg.svg");
  background-position: top center;
  background-repeat: no-repeat;
}
