html,
body
{
  height: 100%;
}

body
{
  display: flex;
  flex-direction: column;
}

#content
{
  flex-grow: 1;
}

#footer
{
  padding-top: $lg;
  padding-bottom: $xl;
  font-size: $font-size-md;
  background-color: $gray;
  color: $gray-alt;

  @media (max-width: $md-breakpoint)
  {
    padding-top: $md;
    padding-bottom: $lg;
  }

  @media (max-width: $sm-breakpoint)
  {
    padding-top: $sm;
    padding-bottom: $sm;
  }

  h4
  {
    position: relative;
    margin-bottom: $sm * 3;
    padding-top: $xs;
    @extend h5;
  }

  h4::after
  {
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 24px;
    height: 0;
    content: " ";
    border-top: 4px solid $black;
  }

  ul li p
  {
    margin: 0;

    a
    {
      text-decoration: none;
      color: $gray-alt;
    }
  }

  a:hover
  {
    text-decoration: underline;
    color: $green !important;
  }

}
