// Buttons /////////////////////////////////////////////////////////////////////

button, .button,
input[type="button"],
input[type="submit"] {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
}

.button.white {
  color: $green;
  background-color: $white;
}

.button.white:hover,
.button.white:active,
.button.white:focus {
  color: $green;
}

.button.green {
  color: $white;
  background-color: $green;
}

.button.green:hover,
.button.green:active,
.button.green:focus {
  color: $white;
}