@mixin font-face($font-face-family, $font-face-filename, $font-face-weight : normal, $font-face-style :normal) {
  @font-face {
    font-family: '#{$font-face-family}';
    src: url(('#{$font-face-filename}.eot'));
    src: url(('#{$font-face-filename}.eot?#iefix')) format('embedded-opentype'),
    url(('#{$font-face-filename}.woff')) format('woff'),
    url(('#{$font-face-filename}.ttf')) format('truetype'),
    url(('#{$font-face-filename}.svg##{$font-face-family}')) format('svg');
    font-weight: $font-face-weight;
    font-style: $font-face-style;
  }
}

@include font-face('ObjektivMk2W03', '/fonts/objektiv/ObjektivMk2W03-Bold', 500);
@include font-face('ObjektivMk2W03', '/fonts/objektiv/ObjektivMk2W03-Light', 300);
@include font-face('Open Sans', '/fonts/open-sans/OpenSans-Regular');
