input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $md;
  margin: $xs 0 $sm 0;
  padding: $xs / 2 $xs;
  color: $black;
  border: 1px solid $gray;
  border-radius: 5px;
  background-color: $white;
  box-shadow: none;
  font-size: $font-size-md;
  line-height: 20px;
}

select {
  vertical-align: middle;
  background-color: $white;
}

textarea {
  height: auto;
  min-height: $xl;
}

label {
  display: block;
  font-size: $font-size-sm;
  font-weight: 700;
  line-height: 20px;
}

/* Global styles
 ****************************************************************************/

[hidden] { display: none !important; }

label {
  color: darkgray;
  margin-top: 1em;
}

select {
  height: 2.3em;
  margin-top: 0;
  margin-bottom: 0;
}

input,
select {
  display: block;
  width: 100%;
  line-height: 1.5;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid darkgray;
}

textarea {
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  line-height: 1.5;
  padding-left: 2em;
  padding-right: 2em;
  text-transform: uppercase;
  border-radius: 4px;
  border-width: 0;
  box-shadow: none;
  font-weight: normal;
}

.button.accent {
  color: white !important;
  background-color: green !important;
}

.text-center { text-align: center; }

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border-rounded { border-radius: 4px; }

.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.my1 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.bg-dark {
  color: white;
  background-color: black;
}
