// Headings ////////////////////////////////////////////////////////////////////

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin-top: 1em;
  margin-bottom: 1rem;
  font-weight: bolder;
  line-height: 1.2;
}

h1, .h1 { font-size: $font-size-h1; }

h2, .h2 { font-size: $font-size-h2; }

h3, .h3 { font-size: $font-size-h3; }

h4, .h4 { font-size: $font-size-h4; }

h5, .h5 { font-size: $font-size-h5; }

.subheading {
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

// Main text ///////////////////////////////////////////////////////////////////

html, body {
  color: $black;
  // @see https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
  font-family: "ObjektivMk2W03", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: $font-size-xl;
  font-weight: 300;
  line-height: 1.5;

  @media (max-width: $md-breakpoint) {
    font-size: $font-size-md;
  }

  @media (min-width: $lg-breakpoint) {
    font-size: $font-size-xl;
  }
}

small, .small {
  margin-bottom: $xs;
  font-size: 70%;
  line-height: 80%;
}

p {
  margin-top: $sm;
  margin-bottom: $sm;
}

// Links ///////////////////////////////////////////////////////////////////////

a {
  cursor: pointer;
  text-decoration: underline;
  color: $green;
}

a:hover,
a:active {
  color: $gray-dark;
}

// Lists ///////////////////////////////////////////////////////////////////////

ol, ul, dl {
  padding: 0;
}

// Unordered lists /////////////////////////////////////////////////////////////

ul {
  list-style-type: none;
}

// Definition lists ////////////////////////////////////////////////////////////

dl {
  margin-top: $sm;
  margin-bottom: $sm;
}

dt {
  font-size: $font-size-xl;
  text-transform: uppercase;
  font-weight: 700;

  @media (max-width: $md-breakpoint) {
    font-size: $font-size-xl - 2px;
  }
}
