.page-committee {
  .masthead {
    .graphics:after {
      background: url("/img/svg/committee-masthead.svg") no-repeat transparent;
      height: 110%;
      width: 100%;
      right: 0;
      top: 0;
      background-position: top 100% left 0;
      background-size: auto 100%;

      @media(min-width: $md-breakpoint)
      {
        height: 220%;
        width: 110%;
        top: -230px;
        right: -8%;
      }

      @media(min-width: $lg-breakpoint)
      {
        height: 260%;
        top: -260px;
      }

      @media(min-width: $xl-breakpoint)
      {
        height: 270%;
        width: 140%;
        right: -40%;
        top: -290px;
      }
    }
  }

  h2,
  h3 {
    @extend .h1;
  }

  .coalitions-teasers {
    position: relative;

    .button {
      position: absolute;
      bottom: -23px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .coalitions-details.js-close {
    display: none;
  }
}
