.standards
{
  background: url("/img/svg/tabs-bg.svg") no-repeat 0 0 transparent;
  background-size: 100% 100%;

  code
  {
    background: none;
  }

  .tabs-nav
  {
    text-align: center;

    nav
    {
      padding: $md;

      li
      {
        display: inline-block;

        &:hover,
        .selected
        {
          a
          {
            border-bottom: 3px solid $green;
          }
          svg
          {
            fill: $green;
          }
        }

        a
        {
          display: block;
          padding: $sm $lg;
          border-bottom: 3px solid $gray;

          svg
          {
            fill: $gray;
          }

          span
          {
            display: none;
          }
        }
      }
    }
  }

  #size ul
  {
    list-style: disc;
    list-style-position: inside;
  }

  h2 span
  {
    color: $green;
  }
}

.criteria
{
  position: relative;
  padding: 1em;

  h2, h3
  {
    text-transform: none;
  }

  h2 {
    font-size: 2em;
  }

  h3
  {
    font-size: 2em;
    color: $green;
  }

  h3 span
  {
    color: $white;
  }

  sup a
  {

    text-decoration: none;
    color: $white;
  }

  dd
  {
    margin: 1em 0;
  }

  &:after
  {
    background: none;
  }

  @media (min-width: $md-breakpoint)
  {
    padding: 6em;
  }
}

.not-considered
{
  /*padding: 1em;*/

  .one-half
  {
    &:nth-child(2)
    {
      padding: 0;
      background-color: $red;
    }

    h2,
    dl
    {
      padding: 1em;
      color: $white;
    }

    .footnotes2
    {
      margin-bottom: 0;
      padding: 1em;
      background-color: $black;
      color: $white;
    }

    div
    {
      width: 100%;
      background-color: $black;
    }
  }

  code
  {
    background: none;
  }

  dt
  {
    font-size: 1em;
    font-weight: lighter;
    text-transform: none;
  }

  @media (min-width: $md-breakpoint)
  {
    background-color: $red;
    color: $white;
    background: -moz-linear-gradient(left, transparent 50%, $red 50%);
    background: -webkit-linear-gradient(left, transparent 50%, $red 50%);
    background: linear-gradient(to right, transparent 50%, $red 50%);
  }

  .not-acceptable dt
  {
    margin-bottom: 1em;
  }

  .not-acceptable dd
  {
    position: relative;
    left: -2em;

    &::before
    {
      padding-right: 0.2em;
      content: "•";
    }
  }

  .one-half:first-child
  {
    color: $black;
  }

  .footnotes dt,
  .footnotes2 dt
  {
    position: relative;
    top: 1.45em;
    font-weight: bold;
    color: $green;
  }

  .footnotes2 dt
  {
    color: $white;
  }

  sup a
  {
    color: $white;
    text-decoration: none;
  }

  @media (min-width: $md-breakpoint)
  {
    padding: 6em;
  }

  .one-half:first-child dd
  {
    color: $black;
  }

  @media (min-width: $md-breakpoint)
  {
    background-color: $red;
    color: $white;
    background: -moz-linear-gradient(left, transparent 50%, $red 50%);
    background: -webkit-linear-gradient(left, transparent 50%, $red 50%);
    background: linear-gradient(to right, transparent 50%, $red 50%);

  }

  #content > section.not-considered > div > div > div:nth-child(2)
  {
    background-color: $red;
  }
}

/* Text was the same colour as its background..

  Adding this override in the understanding that
  it can be removed when shared code is reconciled */
#footer p
{
  color: $black!important;
}
