<div class="row">
  <div class="column text-center">
    <h2>
      {{ advantages-heading[heading] The Acceptable Ads advantage }}
    </h2>
    <p>
      {{ advantages-1 Acceptable Ads allow you to reach ad-blocking users with welcomed, high-quality ads. }}
    </p>
  </div>
</div>
<div class="row">
  <div class="column one-half text-center">
    <p>
      {{ advantages-2 <span class="percent adv-54">54%</span> of ComScore Top 50 desktop properties are monetizing with Acceptable Ads }}
    </p>
  </div>
  <div class="column one-half text-center">
    <p>
      {{ advantages-3 <span class="percent adv-47">47%</span> of Alexa Top 50 desktop properties are monetizing with Acceptable Ads }}
    </p>
  </div>
</div>
