{% set mentions = [
  {
    "name": "New York Times",
    "href": "https://www.nytimes.com/2015/08/20/technology/personaltech/ad-blockers-and-the-nuisance-at-the-heart-of-the-modern-web.html",
    "title": "Media Post article about Adblock Plus",
    "image": "nyt",
  },
  {
    "name": "Tech Crunch",
    "href": "https://techcrunch.com/2016/05/09/adblock-plus-closes-in-on-a-billion-downloads/",
    "title": "Tech Crunch article about Adblock Plus",
    "image": "tc",
  },
  {
    "name": "Wall Street Journal",
    "href": "https://www.wsj.com/articles/adblock-plus-chief-till-faida-says-consumers-are-fed-up-with-current-online-ads-1462981668",
    "title": "Wall Street Journal article about Adblock Plus",
    "image": "wsj",
  },
  {
    "name": "Business Insider",
    "href": "https://www.businessinsider.com/theres-nothing-wrong-about-the-way-adblock-plus-makes-money-2015-9",
    "title": "Business Insider article about Adblock Plus",
    "image": "bi",
  },
] %}

<aside class="media-list">
  <p>
    {{ 'As Mentioned By: <span class="small">(Links open in a new window)</span>' | translate("mentioned-by-1") }}
  </p>
  <ul>
    {% for mention in mentions %}
      <li>
        <a href="{{ mention.href }}"
           title="{{ mention.title | translate("mention-title-" + loop.index | string, "link title") }}"
           target="_blank">
          <img src="/img/png2x/logo_{{ mention.image }}.png" alt="{{ mention.name + " logo" | translate("mention-alt-" + loop.index | string, "alt text") }}">
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
