title=The Acceptable Ads Committee
description=The Acceptable Ads Committee creates new and exceptional ad standards that improve the user experience for ad-blocking users while, just as importantly, delivering real value to content publishers and online advertisers.
og_image=/img/png/aa-facebook-share.png

<section class="masthead">
  <div class="container">
    <div class="row reverse">
      <div class="column graphics">
        <img src="/img/svg/committee-masthead.svg"
             alt="Standard masthead image">
      </div>
      <div class="column">
        <? include committee/masthead ?>
      </div>
    </div>
  </div>
</section>

<section class="coalitions bg-black v-1">
  <div class="container">
    <? include committee/coalitions ?>
  </div>
</section>

<section class="coalitions-teasers bg-gray v-1">
  <div class="container">
    <? include committee/coalitions-teasers ?>
    <a href="#join"
       class="button green">{{"Meet the Committee" | translate("skip-details-button-text", "Skip details button text")}}</a>
  </div>
</section>

<section class="coalitions-details v-1">
  <div class="container">
    <? include committee/coalitions-details ?>
  </div>
</section>

<section id="join"
         class="join-committee v-1">
  <div class="container">
    <? include committee/join-committee ?>
  </div>
</section>
