title=Acceptable Ads
description=Acceptable Ads are nonintrusive ad formats that are accepted by ad blocking users and allow content creators to monetize their content.

<div class="masthead">
  <div class="container">
    <div class="row reverse">
      <div class="column graphics">
        <img src="/img/svg/home-masthead.svg"
             alt="">
      </div>
      <div class="column">
        <? include home/masthead ?>
      </div>
    </div>
  </div>
</div>

<div class="mentions">
  <div class="container">
    <? include home/mentions ?>
  </div>
</div>

<section id="advantages"
     class="advantages container section">
  <? include home/advantages ?>
</section>

<section class="exchange">
  <div class="container">
    <div class="row reverse">
      <div class="column one-half">
        <? include home/exchange ?>
      </div>
      <div class="column one-half graphics">
      </div>
    </div>
  </div>
</section>
