title=Reach new audiences with Acceptable Ads
description=There’s a wide variety of solutions for publishers, ad networks, advertisers and ad-tech suppliers. Learn how to monetize your ad blocking audience!
og_image=/img/png/aa-facebook-share.png

<style>

  /* Global styles
   ****************************************************************************/

  [hidden] { display: none !important; }

  label {
    color: darkgray;
    margin-top: 1em;
  }

  select {
    height: 2.3em;
    margin-top: 0;
    margin-bottom: 0;
  }

  input,
  select {
    display: block;
    width: 100%;
    line-height: 1.5;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid darkgray;
  }

  textarea {
    margin-top: 0;
    margin-bottom: 0;
  }

  .button {
    line-height: 1.5;
    padding-left: 2em;
    padding-right: 2em;
    text-transform: uppercase;
    border-radius: 4px;
    border-width: 0;
    box-shadow: none;
    font-weight: normal;
  }

  .button.accent {
    color: white !important;
    background-color: green !important;
  }

  .py0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .my1 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }

  /* Page styles
   ****************************************************************************/

  /* Selling points ***********************************************************/

  .selling-point {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  @media (min-width: 768px) {

    .selling-point {
      padding-top: 3em;
      padding-bottom: 3em;
    }

  }

  @media (min-width: 992px) {

    .selling-point {
      padding-top: 4em;
      padding-bottom: 4em;
    }

  }

  @media (min-width: 768px) and (max-width: 991px) {

    .selling-point .image-container,
    .selling-point .body-container {
      float: left;
    }

    .selling-point:nth-of-type(2) .image-container,
    .selling-point:nth-of-type(2) .body-container {
      float: right;
    }

    .selling-point .image-container {
      padding-top: 2em;
      width: 33.333333%;
    }

    .selling-point .body-container {
      width: 66.666667%;
    }

    .selling-point .body-container h2 {
      margin: 0;
    }

  }

  /* Support & partners sections **********************************************/

  #support {
    position: relative;
    padding-bottom: 3em;
    color: white;
    background-color: black;
  }

  /* White triangle decoration */
  #support::before {
    display: block;
    content: " ";
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 60px solid white;
    font-size: 0;
    line-height: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #support .container { max-width: 768px; }

  #support h2 { margin-top: 3em; }

  /* Offset show/hide button */
  #show-partners,
  #hide-partners {
    display: block;
    position: absolute;
    margin-right: 1em;
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: green;
    text-transform: uppercase;
  }

  #show-partners { bottom: -1.25em; }

  #hide-partners { top: -1.25em; }

  /* Full width on mobile, fixed width on larger screens */
  @media (min-width: 340px) {

    #show-partners,
    #hide-partners {
      width: 20em;
      left: 50%;
      margin-left: -10em;
    }

  }

  #partners {
    position: relative;
    color: white;
    background-color: green;
    padding-top: 3em;
    padding-bottom: 3em;
    overflow: visible;
  }

  @media (min-width: 768px) and (max-width: 992px) {

    #partners { padding-bottom: 3em; }

  }

  #partners dd {
    margin-left: 0;
    margin-bottom: 3em;
  }

  @media (min-width: 768px) {

    #partners dt {
      float: left;
      clear: left;
      width: 25%;
      text-align: right;
    }

    #partners dd {
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 3em;
      padding-left: 25%;
    }

  }

  /* Apply form ***************************************************************/

  #apply .container { max-width: 768px; }

  #error-message {
    display: inline-block;
    color: red;
  }

</style>

<div class="container">
  <div class="row">
    <article class="selling-point column one-third">
      <div class="image-container">
        <img
          class="image-center"
          src="/img/svg/laptop.svg"
          alt="{{ laptop-icon-alt[image alt text] Icon laptop }}" />
      </div>
      <div class="body-container">
        <h2>
          {{ reach-users-heading[heading] Reach ad-blocking users with your demand }}
        </h2>
        <p>
          {{ reach-users-1 Increase the reach of your demand to a willing, engaged, and 100% human audience with Acceptable Ads. }}
        </p>
      </div>
    </article>
    <article class="selling-point column one-third card">
      <div class="image-container">
        <img
          class="image-center"
          src="/img/svg/lightbulb.svg"
          alt="{{ light-icon-alt[image alt text] Icon light bulb }}" />
      </div>
      <div class="body-container">
        <h2>
          {{ monitize-traffic-heading[heading] Monetize ad-blocking traffic }}
        </h2>
        <p>
          {{ monitize-traffic-1 Increase your revenue by offering a positive user experience to ad-blocking users who are more likely to click on noninvasive, high-quality ads. }}
        </p>
      </div>
    </article>
    <article class="selling-point column one-third card">
      <div class="image-container">
        <img
          class="image-center"
          src="/img/svg/gear.svg"
          alt="{{ gear-icon-alt[image alt text] Icon gear }}" />
      </div>
      <div class="body-container">
        <h2>
          {{ ad-tech-heading[heading] Ad tech }}
        </h2>
        <p>
          {{ ad-tech-1 Offer a trusted and sustainable industry solution to provide additional value for your publishers and/or advertisers while respecting users’ choices. Our technical consultants can help you define the technical setup environment necessary to monetize ad-blocking traffic. }}
        </p>
      </div>
    </article>
  </div>
</div>

<section>
  <div id="support" class="bg-black bg-white-envelope">
    <div class="container text-center">
      <h2>
        {{ need-support-heading[heading] Need support? }}
      </h2>
      <p>
        {{ need-support-1 Complete the form below and one of our experienced consultants will guide you through the process of determining which solution is the best option for your business. }}
      </p>
      <p>
        {{ need-support-2 Choose to work with Acceptable Ads partners or apply to have your existing ads whitelisted. }}
      </p>
      <div>
        <a id="show-partners" href="#partners">{{ need-support-show-cta[button text] View Acceptable Ads Partners }}</a>
      </div>
    </div>
  </div>
  <aside id="partners" class="bg-green" hidden>
    <div class="container">
      <div>
        <a id="hide-partners" href="#partners">{{ need-support-hide-cta[button text] Hide Acceptable Ads partners }}</a>
      </div>
      <dl>
        <dt>
          {{ demand-side-dt[heading] Demand side }}
        </dt>
        <dd>
          AAX, Outbrain, Taboola, Stroer SSP, Criteo
        </dd>
        <dt>
          {{ supply-side-dt[heading] Supply side }}
        </dt>
        <dd>
          AAX, AdRecover, Amazon Native Shopping Ads, Blockthrough, Carbon, CodeFund, Criteo, Dianomi, Outbrain, Plista, Relap, RevContent, Taboola, Direct whitelisting
        </dd>
      </dl>
    </div>
  </aside>
</section>

<form
  id="apply"
  name="WebToLeadForm"
  method="POST">
  <div class="container">
    <h3>
      {{ apply-heading[heading] Apply to participate in Acceptable Ads }}
    </h3>
    <div>
      <label for="partner_type_c">
        {{ partner-type-label[form field label] Partner Type }}
      </label>
      <select name="partner_type_c" required>
        <option value="Publisher">{{ publishers-option[dropdown option] Publishers }}</option>
        <option value="Ad Network">{{ad-networks-option[dropdown option] Ad Networks }}</option>
        <option value="Advertiser">{{advertisers-option[dropdown option] Advertisers }}</option>
        <option value="Ad Tech supplier">{{tech-suppliers-option[dropdown option] Ad Tech suppliers }}</option>
      </select>
    </div>
    <div class="row">
      <div class="column one-half py0">
        <label for="first_name">
          {{ first-name-label[form field label] First Name }}
        </label>
        <input name="first_name" required />
      </div>
      <div class="column one-half py0">
        <label for="last_name">
          {{ last-name-label[form field label] Last Name }}
        </label>
        <input name="last_name" required />
      </div>
      <div class="column one-half py0">
        <label class="semioptional" for="title">
          {{ title-label[form field label] Job Title (optional) }}
        </label>
        <input name="title" />
      </div>
      <div class="column one-half py0">
        <label for="website">
          {{ website-label[form field label] Company Website (optional) }}
        </label>
        <input name="website" />
      </div>
    </div>
    <div>
      <label for="email1">
        {{ email-label[form field label] Email Address }}
      </label>
      <input name="email1" required />
    </div>
    <div>
      <label for="website_with_acceptable_ads_c">
        {{ url-label[form field label] URL(s) where you intend to display Acceptable Ads }}
      </label>
      <textarea
        name="website_with_acceptable_ads_c"
        rows="8"
        cols="80"
        placeholder="{{ url-placeholder[form field placeholder] For multiple URLs please add each one on a new line }}"></textarea>
    </div>
    <div>
      <label for="comment">
        {{ comments-label[form field label] Comments (optional) }}
      </label>
      <textarea
        name="description"
        rows="8"
        cols="80"></textarea>
    </div>
    <div class="my1">
      <button name="send" type="submit" class="button accent">{{ send-button-text[button text] Send }}</button>
      <span id="error-message"></span>
    </div>
    <p>
      {{ primary-policy-1 <strong>Privacy policy:</strong> Your information will be stored and used only to handle this application and to respond to your inquiry. It will never be shared with any third party. If you would like to have your information removed from our database, please email us at <a href="mailto:acceptableads@adblockplus.org">acceptableads@adblockplus.org</a> }}.
    </p>
  </div>
</form>

<script id="submission-error">{{ submission-error[form error message] Failed to submit. Please try again later. }}</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {

    document.getElementById("show-partners").addEventListener("click", function() {
      document.getElementById("partners").hidden = null;
      document.getElementById("show-partners").hidden = true;
    });

    document.getElementById("hide-partners").addEventListener("click", function() {
      document.getElementById("partners").hidden = true;
      document.getElementById("show-partners").hidden = null;
    });

    var form = document.getElementById("apply");
    var errorElement = document.getElementById("error-message");
    var SUBMISSION_ERROR = document.getElementById("submission-error").textContent;

    function showError(message) {
      errorElement.textContent = message;
      form.className = form.className + " error";
    }

    form.addEventListener("submit", function(event) {

      event.preventDefault();

      var data = new FormData(form);
      var xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
          if (xhr.status == 200) {
            window.location.href = "https://acceptableads.com/get-whitelisted/thank-you";
          } else {
            if (console && console.error) {
              console.error(data, arguments);
            }
            showError(SUBMISSION_ERROR);
          }
        }
      };

      xhr.open("POST", "https://hooks.zapier.com/hooks/catch/3616879/qanuve/", true);
      xhr.send(data);
    });

  });
</script>
