title=The Acceptable Ads standard
description=The guidelines for online ads to be certified as Acceptable Ads.

<section class="masthead">
  <div class="container">
    <div class="row">
      <div class="column graphics">
        <img src="/img/svg/standard-masthead.svg"
        alt="Standard masthead image">
      </div>
      <div class="column">
        <? include standard/masthead ?>
      </div>
    </div>
  </div>
</section>

<section class="standards">
  <div class="container">
    <? include standard/standards ?>
  </div>
</section>

<section class="criteria">
  <div class="container">
    <? include standard/criteria ?>
  </div>
</section>

<section class="not-considered">
  <div class="container">
    <? include standard/not-considered ?>
  </div>
</section>

<script>
  var placementsContent = document.getElementById("placements");
  var distinctionContent = document.getElementById("distinction");
  var sizeContent = document.getElementById("size");

  var tabContent = [placementsContent, distinctionContent, sizeContent];

  var tabLinks = document.querySelectorAll(".tabs li a");

  var tabsMap = {
    placements: placementsContent,
    distinction: distinctionContent,
    size: sizeContent
  };

  function switchTabContent(element)
  {
    tabContent.forEach(function(content) {

      if (!content.hasAttribute("hidden")) {
        content.setAttribute("hidden", "");
      }
    });

    element.removeAttribute("hidden");
  }

  tabLinks.forEach(function(a) {
    a.addEventListener("click", function(event) {
      event.preventDefault();

      switchTabContent(tabsMap[this.href.split("#")[1]]);

      tabLinks.forEach(function(a) {

        if (a.classList.contains("selected")) {
          a.classList.remove("selected");
        }
      });

      this.classList.add("selected");
    });
  });

</script>
