h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin-top: 1em;
  margin-bottom: 1rem;
  font-weight: bolder;
  line-height: 1.2;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }

.v-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.v-2 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.v-1 h1:first-of-type,
.v-1 h2:first-of-type,
.v-2 h1:first-of-type,
.v-2 h2:first-of-type {
  margin-top: 0;
}

.bg-gray { color: $black; background-color: $gray-light; }
.bg-black { color: $white; background-color: $black; }
.bg-green { color: $white; background-color: $green; }
.bg-red { color: $white; background-color: $red; }

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
}

.btn-white { color: $green; background-color: $white; }
.btn-white:hover,
.btn-white:active,
.btn-white:visited { color: $green; }

.btn-black { color: $white; background-color: $black; }
.btn-black:hover,
.btn-black:active,
.btn-black:visited { color: $white; }

.btn-green { color: $white; background-color: $green; }
.btn-green:hover,
.btn-green:active,
.btn-green:visited { color: $white; }
