// CSS Utilities
//
// The classes in this file are intended for use via markdown extensions.
// As a result, many of them utilize !important to forcefully override layout
// and other components.

// Spacing /////////////////////////////////////////////////////////////////////

.v-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.v-2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.v-1 h1:first-of-type,
.v-1 h2:first-of-type,
.v-2 h1:first-of-type,
.v-2 h2:first-of-type {
  margin-top: 0;
}

// Backgrounds /////////////////////////////////////////////////////////////////

.bg-black {
  color: $white;
  background-color: $black;
}

.bg-white {
  color: $black;
  background-color: $white;
}

.bg-gray {
  color: $black;
  background-color: $gray;
}

.bg-green {
  color: $white;
  background-color: $green;
}

// Alignment //////////////////////////////////////////////////////////////

.text-center {
  text-align: center !important;
}

.image-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

// Screen reader ///////////////////////////////////////////////////////////////

// Use this class to add screen reader / web crawler only content
//
// EG:
// - An h1 for SEO that is not visible
// - A skip-to link for screen readers

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}