// Colors //////////////////////////////////////////////////////////////////////

$white: #FFFFFF;
$gray: #E8E8E8;
$gray-alt: #707070;
$gray-dark: #292929;
$black: #000000;
$red: #ED1F45;
$green: #0AAD03;
$green-light: #8CC63E;

// Font sizes //////////////////////////////////////////////////////////////////

// Generic

$font-size-xxl: 32px;
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

// Headers

$font-size-h1: 48px;
$font-size-h2: 28px;
$font-size-h3: 22px;
$font-size-h4: $font-size-xl;
$font-size-h5: $font-size-lg;
$font-size-h6: $font-size-lg;

// Spaces //////////////////////////////////////////////////////////////////////

$xl: 96px;
$lg: 64px;
$md: 32px;
$sm: 16px;
$xs: 8px;

// Breakpoints /////////////////////////////////////////////////////////////////

$xl-breakpoint: 1500px;
$lg-breakpoint: 992px;
$md-breakpoint: 768px;
$sm-breakpoint: 544px;
